body {
    margin: 0;
    font-family: "Lato", sans-serif;
    text-align: center;
  }

  .sidebar a.active{
    background-color:rgb(43,161,99) !important;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #555;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #f1f1f1;
    color: black;
  }
  
  .avatar {
    height: 170px;
    border-bottom: thin solid lightgrey;
  }
  
  .menu-nav {
    height: 120px;
    border-bottom: thin solid lightgrey;
  }

  div.content {
    margin-left: 150px;
  }

  #home, #portfolio, #contact, #about {
    background-attachment: fixed;
  }
  #home {
    background-color: whitesmoke;
  }

  #portfolio {
    background-color: rgb(96,215,169);
    height: 100vh;
  }
  .card-img-top {
    height: 152px;
  }
  .card-body {
    height: 150px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: fixed;
      top: 0;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }